.imageDiv { /* Bakgrundsbild */
    background-image: url("../images/tiger.jpg");
    background-size:100%;
  
}

.whitebackground { /* Bakgrund för textarea*/
    background-color: white;
    opacity: 0.88;
    padding: 5%;
}

/* Small only */
@media screen and (max-width: 600px){
    html, .container {
        width: 100% !important;
        margin: 0;
      
    }
}